.publist p {
    text-align: left;
}

#logo {
    width: 100px;
}

#myfooter {
  border-top: 1px solid #eee;
  width: 100%;
  margin: 0 auto;
  padding: 0 28px;
  padding-top: 24px;
  max-width:1200px;
}

#footertext p{
  color: rgba(0, 0, 0, 0.5); 
}

#quality-hound {
  padding-right: 10px;
}

#components .item {
    background: #f8f8f8;
    padding: 24px 24px 18px 24px;
    margin-bottom: 20px;
}

#smellvis-body {
  padding: 0 14px;
}

#smell-nav {
  left: auto;
  width: fit-content;
}

.sticky {
  position:fixed;
  top:0;
}

.scriptable img {
  padding: 5px;
  vertical-align: top;
}


.fixed {
  width: fit-content;
}

ul#posts {
  text-align: justify;
}

ul#posts p{
  text-align: justify;
}